.container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}


li, ul, ol{ list-style-type: none; } 
a { text-decoration: none; }

img {
    height: 330px;
    width: 85%;
}

ul > li {display: inline-block;
background-color: #D4D4D4;
padding: 0.5em;
color: white;
font-size: 2em;
border-radius: 10px;}

nav > ul > li { background-color: #A48083; }

section > div > a > img {
    padding-top: 1.5em
}
li > a{color: white}





/*Automic */
.debug{ border: 1px solid red }
.m-a{ margin: auto}
.m-0{ margin: 0}
.fl-l{ float: left}
.fl-r{ float: right}
.pos-r{ position: relative}
.h-100pro{ height: 100%  }
.h-50pro{ height: 50%  }
.h-200{ height: 10em; }
.w-100pro{ width: 100%  }
.w-25pro{ width: 25%  }
.w-30pro{ width: 30%  }
.w-50pro{ width: 50%  }
.w-90pro{ width: 90%  }
.cl-b{clear: both;}
.di-inb{display: inline-block;}
.white{ color: white;}
.fs-l{font-size:3em;}
.fs-li{font-size:3em !important; }
.fs-xl{font-size:6em;}
.fs-xli{font-size:6em !important; }
.ff-ver{font-family: verdana;}
.ba-mickey{background-color: #D4D4D4}
.ba-sewage{background-color: #A48083}
.ba-tree{background-color: #776369}
.c-sewage{color: #A48083}
.b-rad{border-radius: 10px}
.m-1em{margin: 1em}
.m-m{margin: 2em}
.m-3em{margin: 3em}
.mr-1em{margin-right: 1em}
.ml-1em{margin-left: 1em}
.ml-sm{margin-left: 2.3em}
.mt-xl{margin-top: 6em}
.p-rel{position: relative;}
.p-ab{position: absolute;}
.w-100pro {width: 100%}
.h-l{height: 4em}
.o-05{opacity: 0.6}
.zi--1{z-index: -1}
.zi-0{z-index: 0}
.zi-1{z-index: 1}
.zi-2{z-index: 2}
.zi-3{z-index: 3}
.zi-4{z-index: 4}
.solid {border-style: solid;}
.b-mickey {border-color: #A48083}
.bsi-01{border-width: 0.1em}
.di-ib{display: inline-block;}
.b-radious{border-radius: 1em}














p