@font-face {
    font-family: alpaca;
    src: url(../fonts/AlpacaScarlettDemo.ttf);
}

@font-face {
    font-family: walkway;
    src: url(../fonts/Walkway.ttf);
}
/*h1, h3{
	font-family: alpaca !important;
}
*/

@media only screen and (max-width: 500px) {

	.nav{
		position: fixed;
		top:0;
		z-index: 10;
		width: 100%;
	    padding: 2.5%;
	}
	a#exit {
		z-index: 11;
	    position: fixed;
	    top: 0px;
	    right: 0px;
	}
	a#burger{
		z-index: 11;
	    position: fixed;
	    top: 0px;
	    right: 0px;
	}
	.bookingSection{
		background-size: 100% ;
	}
	.sectionsTitle{
		font-size: 2em;
		margin: 1em;
	    font-family: alpaca;
	    color: #AA9FA7;
	    padding: 0em 0em 0em 2em;
	}

	section#menu {
    text-align: center;
        padding: 15% 0 15% 0;
	}




	.mainPictureSection {
    	background-size: 200%;
    	height: 30em;
	}	

	.logoMainPic {
	    text-align: center;
	    margin: 15% 30% 0% 30%;
	    width: 40%;
	}



	.mobileNone{
		display: none
	}

	.bookingText{
		width: 80%;
	}

	.bookingForm{
		width: 80%;
	}

	.menuImg{
    display: inline-block;
    width: 70%;
    margin: 1em;
	}

	.aboutImg{
		display: none;
	}




	.header{
		    width: 100%;
	}
	
	.burger {
	    position: fixed;
	    display: block;
	    /* float: right; */
	    width: 2em;
	    top: 10px;
	    right: 10px;
	}	
	.logo{
	float: left;
	width: 2em;
	}
	.mainPictureSection{
	}
	.navDesktop{
		display: none;
	}
	.aboutText {
		padding: 1em;
		width: 90%;
		font-size: 2em;
	}
	hr{
		border: solid 0.5em black;
	}
	header{
	z-index: 5; 
	/*setting order of showing elements ( without it the header would be below pictures)*/
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	color: white;
	padding: 2.5%;
	}
}
@media only screen and (min-width: 500px) {

	.bookingSection{
		background-size: 100% 100% ;
	}

	.sectionsTitle{
		font-size: 5em;
		margin: 1em;
	    font-family: alpaca;
	    color: #AA9FA7;
	    padding: 0em 0em 0em 2em;
	}

	section#menu{
		padding: 15% 0% 15% 0%;
	}

	.logoMainPic{
		text-align: center;
		margin: 15% 40% 0% 40%;
	    width: 20%;
	}



	.desktopNone{
		display: none
	}

	.bookingText{
		width: 40%;
	}
	.bookingForm{
		width: 40%;
	}

	.menuImg{
		display: inline-block;
		width: 30%;
		margin-left: 2%;
		float: left;
	}

	.aboutImg{
		float: right;
    	width: 40%;
    	margin: 15% 8% 15% 2%;
	}

	.mainPictureSection{
	height: 70em;
	}


	.logo{
		display: none;
	}
	.none{
		display: none;
	}
	header{
		overflow: overlay;
		position: relative;
		display: none;
	}
	.aboutText {
	    font-size: 2em;
		width: 40%;
    	margin: 15% 2% 15% 8%;
	}
	.burger{
		display: none;
	}
	/*.mainPictureSection{
		margin-top: 10em;
	}*/

	.navDesktop{
		position: relative;
		letter-spacing: 0.1px;
    	font-size: 1.3em;
	    text-align: center;
	    position: fixed;
	    top: 5%;
	    left: 25%;
	    right: 25%;
	    z-index: 6;
	    /*opacity: 0.5;*/
	    background-color: rgba(139, 124, 135, 0.73);
	}
	/*.navDesktop::after{
    width: 100%;
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.5;
    /*z-index: -1; 
    color: white;}*/

    .white{
    	color: white;
    	font-family: alpaca;
    }

	.navDesktop a{
		/*border: 1px solid grey;*/
		padding: 1em;
	    display: inline-block;
	   /* background-color: grey;*/
	    text-decoration: none;
	    color: white
	}
	.navDesktop a:hover{
		color: grey;
		text-decoration:none;
	}
	/*.navDesktop a:focus{
		color: red;
		text-decoration:none;
	}*/
	.navDesktop li{
		list-style-type: none;
		font-family: alpaca;
	}
	hr{
		border: solid 3em black;
	}
	.rotate{
		transform: rotate(-4deg);
	}
}


body{
	margin: 0;
}



footer{


}

/*.section, footer{
	border: 3px solid grey;
}*/

hr {
	box-sizing: content-box;
	height: 0;
	display: block;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
	z-index: 1;
}

/*sections *********************************/
/*sections *********************************/

.content{
	/*margin: 0em 2em 2em 2em;*/
	position: relative; 
}

.section{
	position: relative;
	width: 100%;
    overflow: overlay
}

.heading{
	float: left;
}

/* MAIN PICTURE section *********************************/

.mainPictureSection{
	position: relative;
	width: 100%;
    overflow: overlay;
    background-image: url(../imgs/lake.png);
}



/*mainm*/

.deer{
	float: right;
	width: 40%
}

/* ABOUT section *********************************/

.aboutBackground{
    position: relative;
    margin: 1;
    background: linear-gradient( rgba(0, 0, 0, 1.5), rgba(0, 0, 0, 0.5) );
    background-position: center top;
}

.aboutBackground::after{
    width: 100%;
    /*background-repeat: repeat-x;*/
    background-image: url(../imgs/about.png);
    background-size: 100% 100%;
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.5;
    z-index: -1; 
    color: white;
}


/*.setImg{
	overflow: overlay;
    clear: both;
}*/

.aboutText{
	float: left;
	clear: left;
    float: left;
    clear: left;
    color: white;
    text-align: justify;
    font-family: walkway;
}

/* NAVIGATION *********************************/




/*.dropdown{
	display: none;
	overflow: overlay;
}*/
.nav{
	float: left;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    lay: block;
    width: 100%;
}
/*.nav li{
	display: inline-block;
	border: 1px solid grey;
}
*/

.nav a{
	/*border: 1px solid grey;*/
	padding: 1em;
	margin-bottom: 0.1em;
    display: block;
    background-color: rgba(139, 124, 135, 0.73);;
    text-decoration: none;
    color: white
}
.nav a:hover{
	background-color:white;
	color: grey;
	text-decoration: none;
}
.nav li{
	list-style-type: none;
}

/* MENU section *********************************/


.menuImg:hover{
	opacity: 0.5
}

.clearLeft{
	clear: left;
}

.social{
	float: right;
	padding: 4em;
}

/*font-awesome**********/

.fa { 
	transform: scale(3,3);
	margin: 1em;
	}
.fa-facebook-square:hover {
    color: grey;
}
.fa-instagram:hover {
    color: grey;
}
.fa-map-marker:hover {
    color: grey;
}


/*modals***********************/
.modal-content{
	    background-color: #B8B0A4 !important;
}
.modal-dialog {
	width: 90% !important;
}

.map{
	width: 100%;
}

.bookingForm{
    margin: 5%;
    float: right;
    padding: 5%;
    background-color: rgba(139, 124, 135, 0.73);
}
.bookingText{
	font-size: 1.6em;
    font-family: walkway;
    background-color: rgba(255, 255, 255, 0.93);
    float: left;
 /*   margin: 0% 5% 5% 5%;
    padding: 0% 5% 5% 5%;*/
    margin: 5%;
    padding: 5%;
}


.bookingSection{
	background-image: url(../imgs/background.jpg);
}

.footer{
	overflow: overlay;
	text-align: center;
	/*padding: 2em;*/
}

.footerLogo{
	float: left;
	width: 9em;
	padding: 2em;
}

.logotext{
	text-align: center;
    color: white;
    font-family: walkway;
    font-size: 1.5em;
    letter-spacing: 0.2em;
}

.back{
	background-image: url(win.jpg);
	background-size: 100% 100%;	
}
.back2{
	background-image: url(win2.jpg);
	background-size: 100% 100%;
}
.back3{
	background-image: url(win3.jpg);
	background-size: 100% 100%;	
}

.items{
	position: relative;
}
.box {
    display: inline-block;
    width: 30em;
    max-width: 30%;
    max-height: 30%;
    min-width: 23%;
    min-height: 23%;
    height: 30em;
    overflow: scroll;
}

.specialsBack{
	background-image: url(specials.jpg);
	background-size: 100% 100%;	
}

.specialsBack2{
	background-image: url(specials2.jpg);
	background-size: 100% 100%;	
}

.specialsBack3{
	background-image: url(specials3.jpg);
	background-size: 100% 100%;	
}

.menuBack{
	background-image: url(food.jpg);
	background-size: 100% 100%;	
}

.menuBack2{
	background-image: url(food2.jpg);
	background-size: 100% 100%;	
}

.footerText {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 2em;
}

.left{
	float: left;
}
.right{
	float: right;
}

.concern{
	font-size: 1.6em;
    font-family: walkway;
    background-color: rgba(255, 255, 255, 0.93);
    margin: 5%;
    float: left;
    padding: 5%;
    width:45%;
}

.contactSection{
	background-color: #dfd7c3;
}


.menuSection{
	background-color: rgba(187, 182, 190, 0.65);
}


label {
    font-family: alpaca;
    color: white;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: 0.1em;

    /* text-align: center; */
}


