@media only screen and (max-width: 500px) {
	
}
@media only screen and (min-width: 500px) {
	.aboutText{
		font-size: 4em;
	}
}

body{
	margin: 0;
}

.section{
	
	position: relative;
	margin-bottom: 1em;
	width: 95%;
    padding: 2.5%;
}
.content{
	margin: 6em 2em 2em 2em;
	position: relative; 
}

section, header, footer{
	border: 3px solid black;
}

header{
	z-index: 5; 
	/*setting order of showing elements ( without it the header would be below pictures)*/
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	background-color: black;
	color: white;
}

.aboutImg{
	float: right;
	border-radius: 100%;
    width: 40%;
}

.setImg{
	overflow: overlay;
    clear: both;
}

.aboutText{
	float: left;
    width: 40%;
}

