@font-face {
    font-family: alpaca;
    src: url(./alpaca/AlpacaScarlettDemo.ttf);
}

@font-face {
    font-family: walkway;
    src: url(./Walkway.ttf);
}
/*h1, h3{
	font-family: alpaca !important;
}
*/

@media only screen and (max-width: 500px) {
	.burger{
		display: block;
		float: right;
		background-color: white;
		width: 2em;
	}	
	.logo{
	float: left;
	width: 2em;
	background-color: white;
	}
	.mainPictureSection{
		margin-top: 5em;
	}
	.navDesktop{
		display: none;
	}
	.aboutText {
		width: 90%;
		font-size: 2em;
	}
	hr{
		border: solid 0.5em black;
	}
	header{
	z-index: 5; 
	/*setting order of showing elements ( without it the header would be below pictures)*/
	position: fixed;
	top:0;
	left:0;
	width: 95%;
	background-color: black;
	color: white;
	padding: 2.5%;
	}
}
@media only screen and (min-width: 500px) {
	.logo{
		display: none;
	}
	header{
		display: none;
	}
	.aboutText {
	    font-size: 2em;
		width: 40%;
    	margin: 15% 2% 15% 8%;
	}
	.burger{
		display: none;
	}
	/*.mainPictureSection{
		margin-top: 10em;
	}*/

	.navDesktop{
		position: relative;
		letter-spacing: 0.1px;
    	font-size: 1.3em;
	    text-align: center;
	    position: fixed;
	    top: 5%;
	    left: 25%;
	    right: 25%;
	    z-index: 6;
	    /*opacity: 0.5;*/
	    background-color: rgba(216, 216, 216, 0.71);
	}
	/*.navDesktop::after{
    width: 100%;
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.5;
    /*z-index: -1; 
    color: white;}*/

    .white{
    	color: white;
    	font-family: alpaca;
    }

	.navDesktop a{
		/*border: 1px solid grey;*/
		padding: 1em;
	    display: inline-block;
	   /* background-color: grey;*/
	    text-decoration: none;
	    color: white
	}
	.navDesktop a:hover{
		color: grey;
		text-decoration:none;
	}
	/*.navDesktop a:focus{
		color: red;
		text-decoration:none;
	}*/
	.navDesktop li{
		list-style-type: none;
		font-family: alpaca;
	}
	hr{
		border: solid 3em black;
	}
	.rotate{
		transform: rotate(-4deg);
	}
}


body{
	margin: 0;
}



footer{


}

/*.section, footer{
	border: 3px solid grey;
}*/

hr {
	box-sizing: content-box;
	height: 0;
	display: block;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
	z-index: 1;
}

/*sections *********************************/
/*sections *********************************/

.content{
	/*margin: 0em 2em 2em 2em;*/
	position: relative; 
}

.section{
	position: relative;
	width: 100%;
    overflow: overlay
}

.heading{
	float: left;
}

/* MAIN PICTURE section *********************************/

.mainPictureSection{
	position: relative;
	width: 100%;
	height: 70em;
    overflow: overlay;
    background-image: url(lake.png);

   /* background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.64%;*/


}
.logoMainPic{
	text-align: center;
	margin: 15% 40% 0% 40%;
    width: 20%;
}

/*mainm*/

.deer{
	float: right;
	width: 40%
}

/* ABOUT section *********************************/

.aboutBackground{
    position: relative;
    margin: 1;
    background: linear-gradient( rgba(0, 0, 0, 1.5), rgba(0, 0, 0, 0.5) );
    background-position: center top;
}

.aboutBackground::after{
    width: 100%;
    /*background-repeat: repeat-x;*/
    background-image: url(about.png);
    background-size: 100% 100%;
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.5;
    z-index: -1; 
    color: white;
}

.aboutImg{
	float: right;
    /*width: 40%;
    margin: 2% 2% 2% 2%;*/
        width: 40%;
    margin: 15% 8% 15% 2%;
}

/*.setImg{
	overflow: overlay;
    clear: both;
}*/

.aboutText{
	float: left;
	clear: left;
    float: left;
    clear: left;
    color: white;
    text-align: justify;
    font-family: walkway;
}

/* NAVIGATION *********************************/

.sectionDropdown{
	position: relative;
	width: 95%;
    padding: 2.5%;
}


.dropdown{
	display: none;
	overflow: overlay;
}
.nav{
	float: left;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    lay: block;
    width: 100%;
}
/*.nav li{
	display: inline-block;
	border: 1px solid grey;
}
*/

.nav a{
	border: 1px solid grey;
	padding: 1em;
    display: block;
    background-color: grey;
    text-decoration: none;
    color: white
}
.nav a:hover{
	background-color:white;
	color: grey;
}
.nav li{
	list-style-type: none;
}

/* MENU section *********************************/

.menuImg{
	display: inline-block;
	width: 30%;
	margin-left: 2%;
	float: left;
}
.menuImg:hover{
	opacity: 0.5
}

.clearLeft{
	clear: left;
}

.social{
	float: right;
	padding: 4em;
}

/*font-awesome**********/

.fa { 
	transform: scale(3,3);
	margin: 1em;
	}
.fa-facebook-square:hover {
    color: grey;
}
.fa-instagram:hover {
    color: grey;
}
.fa-map-marker:hover {
    color: grey;
}


/*modals***********************/
.modal-content{
	    background-color: #B8B0A4 !important;
}
.modal-dialog {
	width: 90% !important;
}

.map{
	width: 100%;
}

.bookingForm{
	width: 40%;
    margin: 5%;
    float: right;
    padding: 5%;
    background-color: rgba(93, 93, 93, 0.55);
}
.bookingText{
	font-size: 1.6em;
    font-family: walkway;
    background-color: rgba(255, 255, 255, 0.93);
    width: 40%;
    margin: 5%;
    float: left;
    padding: 5%;
}
section#menu{
	 padding: 15% 0% 15% 0%;
}

.bookingSection{
	background-image: url(background.jpg);
	background-size: 100% 100%;
}

.footer{
	overflow: overlay;
	text-align: center;
	/*padding: 2em;*/
}

.footerLogo{
	float: left;
	width: 9em;
	padding: 2em;
}

.logotext{
	text-align: center;
    color: white;
    font-family: walkway;
    font-size: 1.5em;
    letter-spacing: 0.2em;
}

.back{
	background-image: url(win.jpg);
	background-size: 100% 100%;	
}
.back2{
	background-image: url(win2.jpg);
	background-size: 100% 100%;
}
.back3{
	background-image: url(win3.jpg);
	background-size: 100% 100%;	
}

.items{
	position: relative;
}
.box {
    display: inline-block;
    width: 30em;
    max-width: 30%;
    max-height: 30%;
    min-width: 23%;
    min-height: 23%;
    height: 30em;
    overflow: scroll;
}

.specialsBack{
	background-image: url(specials.jpg);
	background-size: 100% 100%;	
}

.specialsBack2{
	background-image: url(specials2.jpg);
	background-size: 100% 100%;	
}

.specialsBack3{
	background-image: url(specials3.jpg);
	background-size: 100% 100%;	
}

.menuBack{
	background-image: url(food.jpg);
	background-size: 100% 100%;	
}

.menuBack2{
	background-image: url(food2.jpg);
	background-size: 100% 100%;	
}

.footerText {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 2em;
}